@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Clash";
    font-display: swap;
    src: url("./assets/ClashGrotesk-Variable.ttf");
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #f1f1f100;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #707070;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7c7c7c;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #171717;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100dvh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
